/* Home.css */

/* Add styles for the #account element */
#account {
    background-color: var(--white-color);
    padding: 20px;
    margin-bottom: 20px;
}

/* Correct spellings */
.icons {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

/* Home.css */

/* Styles for the table */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--black-color);
}

/* Styles for table header */
th {
    padding: 10px;
    text-align: left;
    font-size: 1.6rem;
    color: var(--black-color);
    background-color: var(--bg-color);
    border: 1px solid var(--black-color);
    text-align: center;
}

/* Styles for table data */
td {
    color: var(--black-color);
    padding: 10px;
    border: 1px solid var(--black-color);
    font-size: 1.6rem;
    text-align: center;
}

/* Rest of your CSS styles go here */

/* Account.css */

/* Style for the options section */
.optionsSection {
    display: none; /* Initially hide the options section */
    position: fixed;
    top: 65px; /* Adjust as needed */
    right: 0px; /* Adjust as needed */
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
    padding: 20px;
    z-index: 11;
    color: var(--black-color);
    border-radius: 10px;
    font-size: large;
}

.optionsSection ul {
    list-style: none;
    padding: 0;
}

.optionsSection ul li {
    cursor: pointer;
    margin-bottom: 5px;
}

.hfdiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#back {
    color: var(--black-color);
    background-color: transparent;
    border: none;
    font-size: 30px;
    padding-right: 20px;
}

.edit_td {
    display: flex;
}