@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    background-color: var(--white-color);
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--white-color);
    /* background-color: #102629; */
    border-bottom: 2px solid var(--black-color);

}

header h1 {
    /* color: white;  */
    color: var(--black-color); 
    font-size: x-large;   
}

header .btns button{
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: var(--black-color); 
    /* color: white;     */
    font-weight: bold;
}

header .btns button:first-child{
    margin-right: 20px;
}

section {
    margin-top: 90px;
    margin-bottom: 69px;
    background-color: var(--white-color);
    /* height: calc(100vh - 70px - 90px); */
}

.contact {
    background-color: transparent;
    /* margin: 10px; */
    padding: 10px;
    font-size: x-large;
    /* border-radius: 10px; */
    color: var(--black-color);
    border-top: 1px solid;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amount {
    font-size: medium;
}

footer {
    height: 70px;
    /* background-color: #102629; */
    background-color: var(--white-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid var(--main-color);
}

.icons {
    height: 30px;
    /* filter: invert(100%); */
    /* filter: invert(100%); */
}

footer button ,.edit,.delete {
    background-color: transparent;
    border: none;
    font-size: x-large;
    color: var(--black-color);
}

.dn {
    display: none;
}

.edit,.delete {
    font-size: large;
    margin-right: 10px;
    color: blue;
}

.delete {
    color: red;
}

.home {
    color: green;
}