
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #102629;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 1s ease-in-out 1s;
}

#logo {
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
  border: 5px solid white;
  animation: fade 1s ease-in-out;
}

#info {
  position: absolute;
  bottom: 10%;
  color: white;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}

@keyframes fade {
  from {
    opacity: 0;
  } /* Start with transparency */
  to {
    opacity: 1;
  } /* Fade to fully opaque */
}

@keyframes fadeout {
  from {
    opacity: 1;
  } /* Start with transparency */
  to {
    opacity: 0;
  } /* Fade to fully opaque */
}
